.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
*extra*
.ipynb_checkpoints/fidelity-checkpoint.ipynb
data/.ipynb_checkpoints/credit-default_mostly-checkpoint.csv
data/.ipynb_checkpoints/credit-default_trn-checkpoint.csv
